absl-py==0.15.0
# Editable install with no version control (agml==0.13)
-e /Users/jmearles/opt/miniconda3/lib/python3.8/site-packages
albumentations==1.0.3
appnope==0.1.2
astunparse==1.6.3
backcall==0.2.0
bleach==4.1.0
boto3==1.18.36
botocore==1.21.36
brotlipy==0.7.0
cachetools==4.2.4
certifi==2021.5.30
cffi @ file:///opt/concourse/worker/volumes/live/8fbed55e-0573-4246-7cf9-162067141d5e/volume/cffi_1605538070636/work
chardet @ file:///opt/concourse/worker/volumes/live/a5a7c56b-23cb-471d-7404-f4130b8aed33/volume/chardet_1605303184529/work
clang==5.0
colorama==0.4.4
conda==4.10.3
conda-package-handling @ file:///opt/concourse/worker/volumes/live/a7e34989-4c54-4cb6-4156-4e58ee270730/volume/conda-package-handling_1603018121300/work
cryptography @ file:///opt/concourse/worker/volumes/live/62f9527a-361c-47e5-5709-227a4a523add/volume/cryptography_1605544472602/work
cycler==0.10.0
Cython==0.29.24
debugpy==1.4.3
decorator==5.1.0
dict2xml==1.7.0
docutils==0.18
entrypoints==0.3
flatbuffers==1.12
gast==0.4.0
google-auth==2.3.2
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.41.1
h5py==3.1.0
helios-annotation-api @ file:///Users/jmearles/Library/Mobile%20Documents/com~apple~CloudDocs/Documents/ucd/projects/helios_synth/current/Helios-Annotation-API/helios-annotation-api/dist/helios_annotation_api-0.1.0-py3-none-any.whl
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
imageio==2.9.0
imantics==0.1.12
importlib-metadata==4.8.1
imutils==0.5.4
install==1.3.4
ipykernel==6.4.1
ipython==7.27.0
ipython-genutils==0.2.0
jedi==0.18.0
jmespath==0.10.0
joblib @ file:///tmp/build/80754af9/joblib_1613502643832/work
jupyter-client==7.0.2
jupyter-core==4.7.1
keras==2.6.0
Keras-Preprocessing==1.1.2
keyring==23.2.1
kiwisolver==1.3.2
lxml==4.6.3
Markdown==3.3.4
matplotlib==3.4.3
matplotlib-inline==0.1.3
mkl-fft==1.3.0
mkl-random @ file:///opt/concourse/worker/volumes/live/f196a661-8e33-4aac-63bc-efb2ff50e035/volume/mkl_random_1626186080069/work
mkl-service==2.4.0
nest-asyncio==1.5.1
networkx==2.6.2
numpy==1.21.2
oauthlib==3.1.1
opencv-contrib-python==4.5.4.58
opencv-python==4.5.3.56
opencv-python-headless==4.5.3.56
opt-einsum==3.3.0
packaging==21.2
pandas==1.3.2
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.2
pkginfo==1.7.1
progressbar==2.5
prompt-toolkit==3.0.20
protobuf==3.19.1
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.2
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
Pygments==2.10.0
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1605545627475/work
pyparsing==2.4.7
PySocks @ file:///opt/concourse/worker/volumes/live/85a5b906-0e08-41d9-6f59-084cee4e9492/volume/pysocks_1594394636991/work
python-dateutil==2.8.2
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq==22.3.0
readme-renderer==30.0
requests @ file:///tmp/build/80754af9/requests_1592841827918/work
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
rsa==4.7.2
ruamel-yaml==0.15.87
s3transfer==0.5.0
scikit-image==0.18.3
scikit-learn @ file:///opt/concourse/worker/volumes/live/27ad05e5-2546-4218-4550-464724750acc/volume/scikit-learn_1621370399611/work
scipy @ file:///opt/concourse/worker/volumes/live/8f68d291-1564-4c63-4bf1-6b1f103a9a36/volume/scipy_1630606804849/work
six @ file:///opt/concourse/worker/volumes/live/5b31cb27-1e37-4ca5-6e9f-86246eb206d2/volume/six_1605205320872/work
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.6.0
tensorflow-estimator==2.6.0
termcolor==1.1.0
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
tifffile==2021.8.30
torch==1.9.0
torchvision==0.10.0
tornado==6.1
tqdm @ file:///tmp/build/80754af9/tqdm_1605303662894/work
traitlets==5.1.0
twine==3.6.0
typing-extensions==3.7.4.3
urllib3 @ file:///tmp/build/80754af9/urllib3_1603305693037/work
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.2
wrapt==1.12.1
xmljson==0.2.1
zipp==3.6.0
